@page
@model Models.Certifications
@{
    ViewData["Title"] = "Certifications";
}
<h1>@ViewData["Title"]</h1>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/certification.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <img class="img-thumbnail" src="certification/qag.png" alt="Queens Academic Group" />
        </div>
        <div class="col-sm-4">
            <img class="img-thumbnail" src="certification/sit.jpg" alt="SIT" />
        </div>
        <div class="col-sm-4">
            <img class="img-thumbnail" src="~/certification/management.png" alt="Queens Academic Group" />
        </div>
    </div>
</div>
